@import base
@import colors
@import theme

color-background = color-black
color-cancel = palette-red-500
color-accept = palette-green-500
color-warning = palette-lime-a200
border-radius = 0.6rem
button-offset = 4.8rem
color = color-white
horizontal-offset = 8 rem
vertical-offset = 4 rem

.snackbar
    position absolute
    bottom 0
    left horizontal-offset
    right horizontal-offset
    align-items center
    padding vertical-offset horizontal-offset
    background-color color-background
    border-radius border-radius
    color color
    display flex
    transition all animation-duration animation-curve-default animation-duration
    z-index z-index-higher

    &.accept .button
        color color-accept
    &.warning .button
        color color-warning
    &.cancel .button
        color color-cancel
    &:not(.active)
        transform translateY(100%)
    &.active
        transform translateY(0%)

.label
    flex-grow 1
    font-size font-size-small
