@import base

total-height = 7.2rem
track-length = 10.8rem
track-height = 4.2rem
thumb-size = 6rem
thumb-on-color = color-accent
thumb-off-color = palette-grey-50
track-on-color = rgba(color-accent, 0.5)
track-off-color = darken(theme-text, 0.5)
ripple-duration = 550ms

._switch
    cursor pointer

track()
    position relative
    display inline-block
    width track-length
    height track-height
    border-radius 4rem

.thumb
    material-animation-default(0.2 s)
    position absolute
    top ((track-height - thumb-size) / 2)
    width thumb-size
    height thumb-size
    cursor pointer
    border-radius 50%
    transition-property left
    .ripple
        transition-duration ripple-duration
    & :global .rippleWrapper
        overflow visible
.on
    track()
    background track-on-color
    .thumb
        left track-length - thumb-size
        background thumb-on-color

.off
    track()
    background track-off-color
    .thumb
        left 0
        background thumb-off-color
        shadow-z()
