@import base

slider-height = 8rem
slider-min-width = 10rem
thumb-size = 6rem
track-height = 2rem

.slider
    position relative
    width 'calc(100% - %s)' % thumb-size
    margin-right thumb-size
    height slider-height
    min-width slider-min-width
    cursor pointer

.trackC
    position absolute
    top ((slider-height - track-height) / 2)
    left (thumb-size / 2)
    width 100%
    height track-height
    border-radius (track-height / 2)
    background-color palette-grey-50
    overflow hidden
.track
    background-color color-accent
    position absolute
    width 100%
    height 100%
    transform-origin left
    will-change transform

.thumbC
    position absolute
    top ((slider-height - thumb-size) / 2)
    left 0
    user-select none
    will-change transform
    width thumb-size
    height thumb-size
.thumb
    width thumb-size
    height thumb-size
    background-color color-accent
    border-radius 50%
    position absolute
    top 0
    left 0
    .zero &
        background-color palette-grey-50
        shadow-z()
