@import base

thumb-size = 6rem

.slider
    position relative
    width 'calc(100% - %s)' % thumb-size
    margin-right thumb-size
    height 12rem
    cursor pointer

.trackC
    position absolute
    top 50%
    left (thumb-size / 2)
    width 100%
    height 1rem
    background-color palette-grey-50
.track
    background-color color-accent
    position absolute
    width 100%
    height 100%
    transform-origin left top
    will-change transform

.thumbC
    position absolute
    top 15px
    left 0
    user-select none
    will-change transform
.thumb
    width thumb-size
    height thumb-size
    background-color color-accent
    border-radius 50%
    position absolute
    top 0
    left 0

