@import base

slider-height = 8rem
thumb-size = 6rem
track-height = 1rem

.slider
    position relative
    width 'calc(100% - %s)' % thumb-size
    margin-right thumb-size
    height slider-height
    cursor pointer
    min-width (3 * thumb-size)

.trackC
    position absolute
    top ((slider-height - track-height) / 2)
    left (thumb-size / 2)
    width 100%
    height track-height
    background-color palette-grey-50
.track
    background-color color-accent
    position absolute
    width 100%
    height (track-height * 1.1)
    transform-origin left top
    will-change transform

.thumbC
    position absolute
    top ((slider-height - thumb-size) / 2)
    left 0
    user-select none
    will-change transform
    width thumb-size
    height thumb-size
.thumb
    width thumb-size
    height thumb-size
    background-color color-accent
    border-radius 50%
    position absolute
    top 0
    left 0
    &.zero
        background-color palette-grey-50

