@import base
@import colors
@import theme

color = color-white

dialog-border-radius = 0.6rem
color-title = color-black
color-white = color-white
content-padding = 6rem
navigation-padding = 4rem
translate-y = 16rem

.wrapper
    position absolute
    top 0
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    z-index z-index-higher

.dialog
    min-height 60%
    max-height 80%
    width 80%
    background-color color
    border-radius dialog-border-radius
    box-shadow zdepth-shadow
    display flex
    flex-direction column
    opacity 0
    overflow hidden
    transform translateY(-1 * translate-y)
    transition opacity animation-duration animation-curve-default, transform animation-duration animation-curve-default
    transition-delay animation-delay
    
    &.active
        opacity 1
        transform translateY(0%)

.title
    color color-title
    flex-grow 0
    font-size 8rem
    line-height 1
    margin 0 0 1rem

.body
    //color: var(--color-text-secondary)
    flex-grow 2
    padding content-padding
    & p
        font-size 6rem
        margin 0
