@import base
@import colors
@import theme

.field
    width 100%
    height 100%
    position absolute

group-start-size = 38rem
group-end-size = 56rem

.group
    position fixed
    display grid
    grid-auto-rows 33.33%
    grid-auto-columns 33.33%
    width group-start-size
    height group-start-size
    margin-left (group-start-size / -2)
    margin-top (group-start-size / -2)
    opacity 0
    transition-property opacity, width, height, margin-left, margin-top
    transition-duration animation-duration
    transition-delay 0s, 1s, 1s, 1s, 1s
    pointer-events none
    &.active
        transition all animation-duration animation-curve-default
        opacity 1
        width group-end-size
        height group-end-size
        margin-left (group-end-size / -2)
        margin-top (group-end-size / -2)
        pointer-events all

.ring
    position absolute
    width 100%
    height 100%
    border 22.8rem solid theme-dark-background-transparent
    border-radius 50%

.button:focus
    background-color rgba(color-accent, .3)

.button-x
    grid-row 2
    grid-column 2
    align-self center
    justify-self center
.button-0
    grid-row 1
    grid-column 2
    align-self start
    justify-self center
.button-1
    grid-row 2
    grid-column 3
    align-self center
    justify-self end
.button-2
    grid-row 3
    grid-column 2
    align-self end
    justify-self center
.button-3
    grid-row 2
    grid-column 1
    align-self center
    justify-self start
