@import base

thumb-size = 6rem

.thumb
    width thumb-size
    height thumb-size
    cursor pointer
    border-radius 50%
    background palette-grey-50
    &.normal
        background color-normal
    &.warning
        background color-warning
    &.error
        background color-error
