@import base
@import colors
@import theme

:global
    .icon
        display inline-block
        &:not(.small)
            svg
                width w(8)
                height h(8)
        &.small
            svg
                width w(5)
                height h(5)
