@import base
@import colors
@import theme

:global
    .icon
        display inline-block
        svg
            vertical-align middle
        &:not(.small) svg
            width 8rem
            height 8rem
            //line-height h(8)

        &.small svg
            width 5rem
            height 5rem
            //line-height h(5)
