@import base
@import colors
@import theme

unit = 3.0rem

:global
    .icon
        display inline-block
        line-height 0
        svg
            fill currentColor
            vertical-align middle
        &:not(.small) svg
            width unit * 3
            height unit * 3
        &.small svg
            width unit * 2
            height unit * 2
