.row
    display flex
.col
    display flex
    flex-direction column

.end
    justify-content flex-end
.center
    justify-content center
.between
    justify-content space-between
.around
    justify-content space-around
