.row
    display flex
.col
    display flex
    flex-direction column

.end
    justify-content flex-end
.center
    justify-content center
.between
    justify-content space-between
.around
    justify-content space-around

.alignstart
    align-items flex-start
.alignend
    align-items flex-end
.aligncenter
    align-items center
.alignbaseline
    align-items baseline
