@import base
@import colors
@import theme

:global .inset
    background-color theme-background-transparent
    position absolute
    top h(0)
    height h(100)
    left w(10)
    width w(80)
    overflow-y auto !important
    #icon-cross
        top 0
        right 0

::-webkit-scrollbar
    width 4rem
::-webkit-scrollbar-track
    background-color transparent
::-webkit-scrollbar-thumb
    background-color color-accent
    border-radius 2rem
