@import base
@import colors
@import theme

:global .inset
    background-color theme-background-transparent
    position absolute
    top h(0)
    height h(100)
    left w(10)
    width w(80)
    overflow-y auto !important
    #icon-cross
        position absolute
        top 0
        right 0
