@import base
@import colors
@import theme

unit = 2.4rem
height = unit * 3.4
floating-height = unit * 5.3
floating-mini-height = unit * 3.6
squared-icon-margin = unit * .6
squared-min-width = 9 * unit
squared-padding = 0 unit * 0.6
toggle-font-size = unit * 2

button()
    display inline-block
    height height
    line-height height
    text-align center
    border 0
    outline none
    text()
    font-size unit * 2
    font-weight 500
    text-transform uppercase
    vertical-align middle

squared()
    min-width squared-min-width
    padding squared-padding
    border-radius 0.2 * unit

.flat
    button()
    squared()
    background transparent

.raised
    button()
    squared()

.floating
    button()
    border-radius 50%
    width floating-height
    height floating-height
    .icon
        vertical-align middle
    &.mini
        width floating-mini-height
        height floating-mini-height
        .icon
            vertical-align middle

neutral-color = color-white
neutral-color-contrast = palette-grey-900
neutral-color-hover = rgba(palette-grey-900, .2)
primary-color-contrast = color-primary-contrast
primary-color-hover = rgba(color-primary, .2)
accent-color-contrast = color-primary-contrast
accent-color-hover = rgba(color-accent, .2)
accent-color = color-accent
disabled-text-color = rgba(color-black, 0.26)
disabled-background-color = rgba(color-black, 0.12)
disabled-text-color-inverse = rgba(color-white, 0.54)
disabled-background-inverse = rgba(color-white, 0.08)

.neutral
    &.raised, &.floating
    color neutral-color
    background neutral-color-contrast
    &.flat
        color neutral-color
    &.flat:hover
        neutral-color-hover
    &.inverse
        &.raised, &.floating
            color neutral-color-contrast
            background neutral-color
        &.flat
            color neutral-color-contrast
        &.flat:hover
            neutral-color-hover

.primary
    color color-primary-contrast
    background color-primary

.accent
    color color-accent-contrast
    background color-accent
