@import base
@import colors
@import theme

unit = 3.0rem
height = unit * 3.6
round-diameter = unit * 5.3
round-mini-diameter = unit * 3.6
squared-icon-margin = unit * .6
squared-min-width = unit * 9
squared-padding = 0 unit * 0.8

button()
    position relative
    display inline-flex
    height height
    text-align center
    flex-direction row
    align-items center
    justify-content center
    border 0
    outline none
    text()
    text-transform uppercase
    transition box-shadow 0.2s animation-curve-fast-out-linear-in, background-color 0.2s animation-curve-default, color 0.2s animation-curve-default
    & :global .rippleWrapper
        overflow hidden

squared()
    min-width squared-min-width
    padding squared-padding
    border-radius 0.2 * unit

round()
    border-radius 50%
    width round-diameter
    height round-diameter
    & :global .rippleWrapper
        border-radius 50%

solid()
    &:active
        shadow-zz()
    &:focus:not(:active)
        focus-shadow()
    &.inverse
        &:active
            shadow-zz-inverse()
        &:focus:not(:active)
            focus-shadow-inverse()

.flat
    button()
    squared()
    background transparent

.round
    button()
    round()
    background transparent

.raised
    button()
    squared()
    solid()
    shadow-z()
    &.inverse
        shadow-z-inverse()

.floating
    button()
    solid()
    round()
    box-shadow 0 1rem 1.5rem 0 rgba(color-black, .12), 0 1rem 1rem 0 rgba(color-black, .24)
    &.inverse
        box-shadow 0 1rem 1rem 0 rgba(color-white, .4), 0 1rem 1rem 0 rgba(color-black, .4)
    &.mini
        width round-mini-diameter
        height round-mini-diameter

neutral-color = color-white
neutral-color-contrast = palette-grey-900
neutral-color-hover = rgba(palette-grey-600, .6)
primary-color-contrast = color-primary-contrast
primary-color-hover = rgba(color-primary-light, .5)
accent-color-contrast = color-primary-contrast
accent-color-hover = rgba(color-accent, .3)
accent-color = color-accent
disabled-text-color = rgba(color-black, 0.26)
disabled-background-color = rgba(color-black, 0.12)
disabled-text-color-inverse = rgba(color-white, 0.54)
disabled-background-inverse = rgba(color-white, 0.08)

.neutral
    &.raised, &.floating
        color neutral-color-contrast
        background neutral-color
    &.flat, &.round
        color neutral-color-contrast
        background transparent
    &.flat:hover, &.round:hover
        background neutral-color-hover
    &.inverse
        &.raised, &.floating
            color neutral-color
            background neutral-color-contrast
        &.flat, &.round
            color neutral-color
        &.flat:hover, &.round:hover
            background neutral-color-hover

.primary
    &.raised, &.floating
        color color-primary-contrast
        background color-primary
    &.flat, &.round
        color color-primary
    &.flat:hover, &.round:hover
        background primary-color-hover
    &.inverse
        &.flat, &.round
            color color-primary-light

.accent
    &.raised, &.floating
        color color-accent-contrast
        background color-accent
    &.flat, &.round
        color color-accent
    &.flat:hover, &.round:hover
        background accent-color-hover