@import '@theatersoft/components'

section
    margin 1rem 2rem
    padding 3rem
    background-color theme-background-transparent
    box-shadow 0 1rem 2rem rgba(0, 0, 0, 0.5)
    &.inverse
        background-color theme-inverse-background-transparent
