@import '@theatersoft/components'

section
    display flex
    flex-flow row wrap
    align-items center
    margin 2rem 4rem
    padding 2rem
    background-color theme-dark-background-transparent
    box-shadow 0 1rem 2rem rgba(0, 0, 0, 0.5)
    &.light
        background-color theme-light-background-transparent

.scroll
    overflow-y scroll !important
    height inherit
