body
    background black
    position absolute
    left 50%
    top 50%
    user-select none

body, html
    width 100%
    height 100%
    margin 0
    padding 0
    overflow hidden
    user-select none

#video, #video>div, #ui
    position absolute
    width 100%
    height 100%
    margin 0
    padding 0

#ui
    text()
    color color
    transform-style preserve-3d