#bar
    /*vertical-align()*/
    top h(72)
    padding-left h(5)
    /*margin auto 0*/
    text-align center
    /*top h(20)*/
    [class^="col-"]
        float left
        padding h(2)
    .iconpad
        color theme-text
        background-color theme-background-transparent
        border h(1) solid transparent
        border-radius h(2)
        padding h(2)
        .icon
            height h(16)
            width h(16)
    .iconpad:hover,:focus
        border h(1) solid color-accent
        color color-accent
        box-sizing border-box
