// landscape uses vh, 100% width = 133.3 vh
ar = 4/3

// rem based safe in landscape and portrait
h(h)
    unit(h, 'rem')
w(w)
    unit(w*ar, 'rem')

svg
    fill currentColor

*, *:before, *:after
    box-sizing border-box
