#stat
    top h(10)
    height h(90)
    padding h(2)
    background-color theme-background-transparent
    overflow none
    .col
        padding 0 h(2)
        width w(46)
    .col-1-2
        float left
        padding 0 h(2)
        width w(23)
    .col-1-4
        float left
        padding 0 h(2)
        width w(11)
    #icon-cross
        position absolute
        top 0
        right 0
    #time
        font-size h(16)
        line-height 80%
        margin-bottom h(8)
    #ot
        font-size h(16)
        color color-accent
        margin-top h(-4)
        margin-bottom h(8)
    #rt
        font-size h(46)
        color color-accent
        line-height 84%
        margin-top h(4)
        margin-left h(6)
        margin-bottom  h(2)
    #hum
        margin-left h(-3)
        margin-bottom  h(-4)
    #clsp
        font-size h(16)
        text-align center
        color lightskyblue
    #htsp
        font-size h(16)
        text-align center
        color indianred




