// blue-grey/amber material theme
color-primary = palette-blue-grey-500
color-primary-dark = palette-blue-grey-700
color-primary-light = palette-blue-grey-300
color-accent = palette-amber-500
color-accent-dark = palette-amber-700
color-primary-contrast = color-dark-contrast
color-accent-contrast = color-light-contrast

// dark theme palette
theme-text = color-dark-contrast
theme-status-bar = color-light-contrast
theme-app-bar = palette-grey-900
theme-dialog = palette-grey-800
theme-light-background = palette-grey-100
theme-light-background-transparent = rgba(theme-light-background, 0.7)
theme-dark-background = palette-grey-900
theme-dark-background-transparent = rgba(theme-dark-background, 0.8)
color-accent-transparent = rgba(palette-amber-500, 0.8)
theme-background = theme-dark-background
theme-background-transparent = theme-dark-background-transparent
theme-primary-transparent = rgba(color-primary, 0.4)
theme-accent-transparent = rgba(color-accent-dark, 0.4)

// severity coded colors
color-error = rgb(244, 67, 54) // palette-red-500
color-warning = color-accent
color-normal = rgb(76, 175, 80) // palette-green-500

animation-duration = .35s
animation-delay = animation-duration / 5
animation-curve-fast-out-slow-in = cubic-bezier(0.4, 0, 0.2, 1)
animation-curve-linear-out-slow-in = cubic-bezier(0, 0, 0.2, 1)
animation-curve-fast-out-linear-in = cubic-bezier(0.4, 0, 1, 1)
animation-curve-default = animation-curve-fast-out-slow-in

material-animation-default(duration)
    transition-timing-function animation-curve-default
    transition-duration duration

umbra-opacity = 0.2
penumbra-opacity = 0.14
ambient-opacity = 0.12

// offset-x offset-y blur-radius spread-radius color

focus-shadow()
    box-shadow 0 0 4rem rgba(color-black, .18), 0 4rem 8rem rgba(0, 0, 0, .36)
focus-shadow-inverse()
    box-shadow 0 0 4rem rgba(color-white, .18), 0 4rem 8rem rgba(0, 0, 0, .36)

shadow-z()
    box-shadow 0 2rem 2rem 0 rgba(color-black, penumbra-opacity), 0 3rem 1rem -2rem rgba(0, 0, 0, umbra-opacity), 0 1rem 5rem 0 rgba(0, 0, 0, ambient-opacity)
shadow-z-inverse()
    box-shadow 0 1rem 1rem 0 rgba(color-white, .3), 0 1rem 5rem 0 rgba(0, 0, 0, .1)

shadow-zz()
    box-shadow 0 4rem 5rem rgba(color-black, penumbra-opacity), 0 1rem 10rem rgba(0, 0, 0, ambient-opacity), 0 2rem 4rem -1rem rgba(0, 0, 0, umbra-opacity)
shadow-zz-inverse()
    box-shadow 0 4rem 5rem rgba(color-white, penumbra-opacity), 0 1rem 10rem rgba(0, 0, 0, ambient-opacity)

z-index-normal()
    z-index 1
z-index-high()
    z-index 100
z-index-higher()
    z-index 200

font-size-x-small = 4rem
font-size-small = 6rem
font-size-normal = 8rem // medium
font-size-large = 10rem
font-size-x-large = 16rem
font-size-xx-large = 24rem
font-size-xxx-large = 48rem

text()
    font-size font-size-normal
    font-family Alegreya Sans SC
