// blue-grey/amber material theme
color-primary = palette-blue-grey-500
color-primary-dark = palette-blue-grey-700
color-primary-light = palette-blue-grey-300
color-accent = palette-amber-500
color-accent-dark = palette-amber-700
color-primary-contrast = color-dark-contrast
color-accent-contrast = color-light-contrast

// dark theme palette
theme-text = color-dark-contrast
theme-status-bar = color-light-contrast
theme-app-bar = palette-grey-900
theme-dialog = palette-grey-800
theme-light-background = palette-grey-100
theme-light-background-transparent = rgba(theme-light-background, 0.7)
theme-dark-background = palette-grey-900
theme-dark-background-transparent = rgba(theme-dark-background, 0.8)
color-accent-transparent = rgba(palette-amber-500, 0.8)
theme-background = theme-dark-background
theme-background-transparent = theme-dark-background-transparent

text()
    font-size 8rem
    font-family Alegreya Sans SC

//h1, h2, h3
//    /*text3d(theme-color)*/
//    -webkit-margin-before: 0
//    -webkit-margin-after: 0

animation-duration = .35s
animation-delay = animation-duration / 5
animation-curve-fast-out-slow-in = cubic-bezier(0.4, 0, 0.2, 1)
animation-curve-linear-out-slow-in = cubic-bezier(0, 0, 0.2, 1)
animation-curve-fast-out-linear-in = cubic-bezier(0.4, 0, 1, 1)
animation-curve-default = animation-curve-fast-out-slow-in

material-animation-default(duration)
    transition-timing-function animation-curve-default
    transition-duration duration
