#video
    ul, li
        height: 100%
        padding: 0
        margin: 0
        position: relative
    ul
        left: -100%
    ul.animate
         transition: transform ease 0.4s
    li
        float: left
        list-style-type: none
    img
        width: 100%
        height: 100%

.video-missing
    //background-color: #008
    background: #008 url('../../assets/logo.svg') no-repeat center
    background-size: 40%