@import base

item-min-height = 10rem
nest-duration = animation-duration * 2

.list
    display inline-block
    list-style none
    width 100%

.subheader
    color color-primary-light
    padding 0 2rem

.item
    z-index-high()
    position relative
    display flex
    align-items center
    padding 0 4rem
    min-height item-min-height
    & :global .rippleWrapper
        overflow hidden

.icon
    flex 0 0 auto
    margin 2rem 2rem 2rem 0

.content
    display flex
    flex-direction  column
    flex-grow 1

.text
    display block

.action
    display flex
    flex 0 0 auto
    margin 2rem

.nested
    max-height 0
    overflow hidden
    transition max-height nest-duration animation-curve-default
    &.active
        transition max-height nest-duration animation-curve-default
